# Compiled Source #
###################
*.class

# Package Files #
#################
*.jar
*.war
*.ear

# Testing Folders #
###################
#main/
#game/
#/dist/
/nbproject/private/
/nbproject/
/manifest.mf
/build.xml
/build/
/nbdist/

# Gradle        #
#################

.gradle/
build/
out/
